body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.mobile-on {
  display: none;
}

.mob-off {
  display: block;
}

@media (min-width: 200px) and (max-width: 599px) {
  .mobile-on {
    display: block;
  }

  #generic_price_table {
    margin: 70px 0 0px 0 !important;
  }

  .add-btn {
    margin-left: 20px;
  }

  .mob-off {
    display: none !important;
  }

  #navigation {
    position: static !important;
  }

  .mob-version{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-btn{
    position: absolute!important;
    right:10px!important;
    background-color: #eaeaea!important;
  }

  .navbar {
    padding: 0rem!important;
}
.nav-item{
  padding: 10px 0;
    border-bottom: 1px solid #4c49a5;
    margin-bottom: 10px;
    margin-right: 0px!important;
}
}

.nav-item{
  margin-right: 20px;
}

.nav-item a {
  color: #fff;
}

.nav-item a:hover {
  color: #fdec00;
}

.nav-item a i {
  margin-right: 10px;
}

/* width */
::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #2e2f46;
}




